html {
  height: 100%;
  width: 100%;

}

#opan{
  background-color: #0030c2;
}

#vere{
  background-color: #03c200;
}

#progresso{
  background-color: #ff0000;
}

#isso{
  background-color: #00ffbf;
}